.nav_link-1 a {
text-decoration: none;
color:black
}

.nav_link-2 button {
    border-radius: 5px;
    border: none;
    cursor:pointer;
}

.wallpaper span:first-child {
    color: #00A1E4;
}

.wallpaper span:last-child {
    color: #FAFF00;
}

.separator_line {
    border-bottom: 1px solid black;
}

.course-introduction {
    text-align: center;
}

.course-nav_bar button {
    border: none;
}

.course-nav_bar span {
    color: white;
}

.QA-introduction button {
    background-color: #00A1E4;
}

.QA-question_board {
    background-color: #00A1E4;
}

.QA-sample_question {
    background-color: white;
}



.QA-sample_question h4 {
    font-size: 24px;
}

.QA-sample_question p {
    font-size: 20px;
}

.forum-container {
    background-color: #70C0E2;
}