.nav_link-1 a {
text-decoration: none;
color:black
}

.nav_link-2 button {
    border-radius: 5px;
    border: none;
    cursor:pointer;
}

.wallpaper span:first-child {
    color: #0500E4;
}

.wallpaper span:last-child {
    color: #FAFF00;
}

.QA-question_board {
    background-color: #3777FF;
}

.QA-sample_question {
    background-color: white;
}

.separator_line {
    border-bottom: 1px solid black;
}

.QA-sample_question h4 {
    font-size: 24px;
}

.QA-sample_question span {
    font-size: 20px;
}

.forum-container {
    background-color: #70C0E2;
}