* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.nav_bar {
    width: 100%;
    height: 60px;
}

.nav_link-1 a {
    margin: 40px;
}

.nav_link-2 a {
    margin: 10px 20px;
}

.nav_link-2 button {
    height: 40px;
    width: 120px;
}

.wallpaper {
    background-image: url(https://images.unsplash.com/photo-1518133835878-5a93cc3f89e5?crop=entropy&cs=srgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDIzfHxtYXRofGVufDB8fHx8MTYyNTEwMDk3NA&ixlib=rb-1.2.1&q=85&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450);
    height: 300px;
    background-position: center;
    background-size: cover;
}

.wallpaper span {
    margin: 10px 0;
}

.course-container {
    padding: 40px 0;
}

.course-introduction {
    padding-left: 40px;
    margin-bottom: 20px;
    text-align: center;
}



.course-nav_bar {
    display: grid;
    grid: 80px 80px 80px/200px 200px 200px 200px;
    margin: auto;
    grid-gap: 10px 10px;
    justify-content: center;
}

.course-nav_bar button {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.QA-container {
    padding: 40px 40px 40px;
    width: 100%;
}

.QA-introduction {
    margin-bottom: 20px;
}

.QA-question_board {
    margin: 50px 30px 0;
    border: 1px solid black;
    height: 400px;
    overflow: auto;
}

.QA-sample_question {
    height: 100px;
    margin: 20px 20px 0px;
    border: black solid 0.5px;
    width: auto;
}

.forum-container {
    padding: 20px 40px 0;
    width: 100%;
}

.forum-introduction {
    margin: 40px 40px 0;
    margin-top: 40px;
    padding-left: 40px;
    margin-bottom: 20px;
}

.forum-board {
    margin-left: 40px;
    margin-top: 40px;
    border: black solid 1px;
    height: 400px;
}

.forum-week_subject {
    text-align: center;
}